<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LegendMud Skill Calculator</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="app">
      <h1 class="title">Skill Calculator</h1>
      {{{body}}}
    </div>
  </body>
</html>